<p>tests works!</p>
<p>How are you guys today?</p>
<p>{{held|json}}</p>
<h1>{{held.name|uppercase}}</h1>
<h3>superkraft: {{held.superpower}}</h3>

<div>
    <label for="name">Tests name: </label>
    <input id="name" [(ngModel)]="held.name" placeholder="name">
</div>





<h2>My Heroes</h2>
<ul class="heroes">
    <li *ngFor="let hero of meinTests">
        <button [class.selected]="hero === selectedHeld" type="button" (click)="onSelect(hero)">
      <span class="badge">{{hero.id}}</span>
      <span class="name">{{hero.name}}</span>
    </button>
    </li>
</ul>

<div *ngIf="selectedHeld">
    <h2>{{selectedHeld.name | uppercase}} Details</h2>
    <div>id: {{selectedHeld.id}}</div>
    <p>Superkraft: {{selectedHeld.superpower}}</p>

    <div>
        <label for="hero-name">Hero name: </label>
        <input id="hero-name" [(ngModel)]="selectedHeld.name" placeholder="name">
    </div>
</div>